.Card {
	margin: auto;
	margin-top: 20px;
	border-radius: 30px;
	display: flex;
	width: 350px;
	margin-bottom: 5px
}
.CardContent {
	flex: 2;
}

.CardMedia {
	flex: 1;
}

.FullScreen {
	display: flex;
}

.LeftSide {
	flex: 1.2;
	overflow: auto;
	padding-right: 10px;
	padding-left: 10px
}

.RightSide {
	flex: 3;
	overflow: hidden;
}

.LeftSideOptions {
	padding-top: 5px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 800px) {
	.RightSide{ display: none; }
}

@media screen and (min-width: 800px) {
	.LeftSideOptions{ display: none; }
}